* {
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
body,html {
    overflow-x: hidden;
}
body {
   
    background-color: #1F2937;
    color:white;
    width: 90vw;
}
h1,h2,.setUp-container,.generateBtn {
    margin: 45px 0px 0px 50px;
    width: 80%;
}

.setUp-container > * {
    display: block;
}

input {
    width: 180px;
   position: relative;
    background-color: #98FB98;
    color: #494948;
    font-weight: bolder;
    font-size: 1.1rem;
    text-align: center;
}
.container h1 {
    font-size: 4rem;
 
}
span {
    color:#4ADF86;
    display: block
}

.container h2 {
    font-size: 2rem;
    font-weight: lighter;
    color: #D5D4D8;
}
.container h1,.container h1 {
    max-width: 90%;
}
.generateBtn,input {
  
    border: none;
    padding: 12px;
    border-radius: 0.2em;
    margin: 1em 0
}
.generateBtn {
    width: 20%;
    max-width: 400px;
    min-width: 250px;
    background-color: #32be5c;
    color:white;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 1.3em;
    padding: 1.4em;
    border-radius: 20%/80%;
    color:#ffffff;
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
.password-container {
   margin-left: 30px;
   margin-top: 1em;
   width: 100vw;
}

.passwords {
    margin-right: 0;
    width: 90vw;
    border-top: #2F3E53 1px solid ;
    display: inline-block;
    vertical-align: middle;
}
.password {
    color:#4ae282;
    background-color: #273549;
    border: none;
    padding: 0.5em .7em;
    border-radius: 5px;
    width:30%;
    min-height: 35px;
    word-break: break-all;
    margin: 1.5em 1em 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    min-width: 100px;
    text-align: center;
    margin-right: 2em;
    max-width: 420px;
    float:left
}

#div-password,#div-digit {
    width: fit-content;
    
}
#div-password::before {
    content: attr(data-content);
    color:rgb(255, 52, 38);
    position: relative;
    width: 100%;
    height: 10px;
    font-weight: bold;
    top:2px;
    display: block;
}
#div-digit::before {
    content: attr(data-content);
    color: rgb(255, 52, 38);
    position: relative;
    width: 90vw;
    height: 10px;
    font-weight: bold;
    top:-8px;
    display: block;
}
.passwords-quantity-input {
    width: 20vw;
    min-width: 250px;
    max-width: 350px;
    background-color: #57ec70;
}
.digits-quantity-input {
    width: 20vw;
    min-width: 120px;
    max-width: 200px;
    background-color: #4ee680;
}
@media (max-width:550px) {
    body {
        margin: 0;
    }
    .container {
        width:70%
    }
    .container h1 {
        font-size: 2.6em;
    }
    .container h2 {
        font-size:1.6em;
        margin-bottom:.1em
    }
    .setUp-container {
        margin-top:1em;
    }
    .passwords {
        width: 85vw;
        margin-left:10px;
       
    }
    #div-digit {
        width: 100px;
    }
    .password  {
        width: 78%;
       padding: .7em;
       margin-right: 2em;
       display: inline-block;
       vertical-align: middle;
       margin-bottom: .5em;
       margin-left: 20px;
       font-size: 1.3rem;

    }
    input {
        
       padding: 1em;
    }
    .digits-quantity-input {
        padding: .9em;
        margin-top:5px;
        width: 100px;
    }

    .passwords-quantity-input{
        width: 200px;
    }
    .generateBtn {
        margin-top: 1em;
        display: block;
        margin-top: 1em;
        display: flex;
        
    }
}

@media (min-width:550px) and (max-width:930px) {
    .container h1 {
        font-size: 3em;
        margin-top: 2em;
    }
    .container h2 {
        font-size:2em;
        margin-bottom:.1em
        
    }
    .setUp-container  {
        display: flex;
   
    }
    input {
        padding: 1.5em;
        margin-right: 1em;
    }
    .password-container {
        margin-top: 1em;
        margin-left: 50px;
    }
    .password {
        font-size: 1.3em;
        width: 40%;
        
        padding: 1em;
    }

}
@media (min-width:930px) {
    .container h1,.container h2 {
        margin-bottom: 0.6em;
    }
    .generateBtn,input {
        margin-bottom: 3em;

    }
    .generateBtn {
        border-radius: 20%/100%;
        width: 100%;
        display: block;
    }
    input {
        padding: 1.5em;
        margin-right: 1em;
    }
    .password-container {
       margin-left: 50px;
    }
    .password {
        padding: 1.2em;
        width: 45%;

    }
    .setUp-container  {
        display: flex;
   
    }
}