* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    
} 
header {
    background: url(imgs/bgimg.png);
    background-size: auto;
    padding: 3em;
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:50% 50%;
   
}
header span {
    display:block;
    color:white;
    font-family: 'Smythe', cursive,sans-serif;
    
}
.item-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    border-bottom:#DEDEDE 2px solid;
    margin-top: 25px;
    
    
}
.item {
    display: flex;
    height: 200px;
    width: 100%;
    margin: 20px 0;
    align-items: center;
    justify-content: start;
   
   
}

.item h1 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.5rem;
}
.item img {
    width: 180px;
    height: 150px;
}
.item-ingredients {
    color:#8b8b8b
}
.item-preview {
    margin-bottom: 5px;
    

}
.item-info { 
    padding: 0 2em ;
    display: block;
    height: 80%;
    
}
.item-price {
    margin-top: 20px;
    font-size: 1.5em;

}
.add-item-btn {
    background-color: transparent;
    border-radius: 50%;
    width: 50px;
    margin: 0;
    height: 50px;
    border: #DEDEDE 2px solid;
    color:#3C3C3C;
    font-size: 2rem; 
    
}
aside button {
    background-color:#16DB99;
    border:0;
    padding: 1em;
    width: 100vw;
    color:white;

}
aside {
    position: fixed;
    top:93%;
    
    
    height: 100%;
    z-index: 1;

}
