
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    
} 
header {
    background: url(imgs/bgimg.png);
    background-size: auto;
    padding: 3em;
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-color: red;
   
}
header span {
    display:block;
    color:white;
    font-family: 'Smythe', cursive,sans-serif;
    
}
section {
    width: 90%;
}
.menu-container img {
    width: 200px;
    height: 150px;
}
.item-container{
    font-size: 1.2rem;
    word-wrap: break-word; 
   
    width: 100%;
    background-color: #c31010;
}
/*
.item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}


/*.item-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0em;
    background-color: red;
    
}
.item {
    display: flex;
    border-bottom:#DEDEDE 2px solid;
    display: flex;
    width: 100%;
    gap: 10px;
    

}
.item h1 {
    margin-top: 0;
    margin-bottom: 15px;
}

.item-ingredients {
    color:#8b8b8b
}
.item-preview {
    margin-bottom: 5px;
}
.item-info { 
    padding: 0 2em ;
}
.item-price {
    margin-top: 20px;
    font-size: 1.5em;
}*/
.add-item-btn {
    background-color: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
    border: #DEDEDE 2px solid;
    color:#3C3C3C;
    font-size: 2rem;
    
}
.options-section {
    position: fixed;
    width:90%;
    
    height: 90%;
    padding: 1em;
    overflow: scroll;
    top:50%;
    left:50%;
    display: flex;
    background-color:#fafafa;
    transform: translate(-50%,-50%);
    z-index: 1;
    display: none;
    max-width: 600px;
}

.options-section h1 {
    font-size: 1.5rem;
    margin-left:0;
    margin-bottom: 0.5em;
}
.option-item {
   word-wrap: break-word;
   width: 80%
}
.option {
    display: flex;
    align-items: center;
    padding: 2em;
    position: relative;
    justify-content: start;
}
.option::after {
    content:"";
    width: 90%;
    height: 2px;
    position: absolute;
    background-color: #DEDEDE;
    top: 100%;
    left: 50%;
    transform: translate(-50%,50%); 
}
.close-options-btn {
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: bold;
    position: relative;
    left: 95%;
    top:3px;
    color:#5e5e5e
}
.option input {
    margin: 2em;
}
/*input[type="checkbox"] {
    opacity: 0;
}

label {
    position: relative;
}
label::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #DEDEDE;
    top:0px;
    left:90px;

    border-radius: 50%;
}

label::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #c31010;
    top:0px;
    left:0px;
    border-radius: 50%;
}
input[type="checkbox"] + label::after {
    display: none;
}
input[type="checkbox"]:checked + label::after {
    display: flex;
}*/

.note-container {
    margin-top: 2em;
    margin: 0 auto;
    width: 90%;
    
}
.note-container h1 {
    margin-top: 1.5em;
}
.note {
    width: 100%;
    height: 15%;
    background-color:transparent;
    border:none;
    resize: none;
    border: #eeecec 2px solid;
    padding:1em;
    margin-top: 0.8em;
   

}
.finish-option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    width: 100%;
    margin: 0 auto;
    
    
}

.sub-btn,.sum-btn {
    color:#d00000;
    border:none;
    background: transparent;
    font-size: 1.7rem;
    margin-top: 0em;
    
}
.quantity-container,.add-option-btn{

    margin-top:1em
}
.quantity {
    font-size: 1.2rem;
    padding: 1em;
    

}

.add-option-btn {
    
    background-color:#d00000;
    padding:1em ;
    border: none;
    color:white;
    width: 60%;
    font-weight: bold;
    
}
