* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden
}
.section-header {
    background-color: white;
    padding: 1.5em;
    width: 99vw;
    
}
form {
    gap:0.7em;
}
.flex{
    display: flex;
    
}
.seed-color {
    width: 100px;
    height: 35px;
    border:2px #D1D5DB solid;
    align-self: center;
    
}
.option:hover {
    background-color:red;
    font-weight: bolder
}
select {
    width: 90%;
}
select,.random-btn {
    padding:0.5em 1em;
    border-radius: 0.3em;
    background-color: transparent;
    border: #D1D5DB 2px solid ;
}
.section-scheme-colors {
    width:  100vw;
    height: 100vh;
}
.random-btn {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
}
.color {
   height: 15%;
   width: 100vw;
   justify-content: center;
   align-items: center;
   font-family: 'Ubuntu Condensed', sans-serif;
   
}
span {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
  
  
}