* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(248, 248, 248);
}
.main {
    overflow-y: hidden;
}
header {
    padding: 1em;
}
li img {
    width: 30px;
}
.logo-img {
    width: 80px;
}
.flex {
    display: flex;
}
ul {
    justify-content: space-between;
    align-items: center;
}
.profiles-section {
    margin-top: 0.3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.profiles img,.next-profiles img {
    width: 97vw;
    border-radius: 3%;
    height: 600px;
    max-width: 500px; 
}
.div-1 {
    position: relative;
    margin-top: 0%;
    z-index: 0;
  
  }
.div-2 {
  position: relative;
  margin-top: -105%;
  z-index: -1;

}
.div-3 {
    position: relative;
    margin-top: -105%;
    z-index: -2;
  
  }
.div-4 {
    position: relative;
    margin-top: -105%;
    z-index: -3;
}
.div-5 {
    position: relative;
    margin-top: -105%;
    z-index: -4;
}
.div-6 {
    position: relative;
    margin-top: -105%;
    z-index: -5;
}
.div-7 {
    position: relative;
    margin-top: -105%;
    z-index: -6;
}
.div-8 {
    position: relative;
    margin-top: -105%;
    z-index: -7;
}
.div-9 {
    position: relative;
    margin-top: -105%;
    z-index: -7;
}

.user {
    position: relative;
    bottom:200px;
    width: 90%;
    color:white
}
.next-profiles {
    display: block;
  
    
}
.next-profiles img {
    display: block;
}

.user-information-container {
    position: absolute;
    bottom:2.5em;
    z-index: 2;
    color: white;
    width: 90%;
    max-width: 400px;
    height: 23%;
    padding-bottom:1em

}
.user-information-container,#user-location {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.938);
}
.user-information-container h1{
    font-size: 1.5rem;
}
.user-information-container p {
    margin-top: 8px;
    font-weight: 200;
    margin-bottom: 10px;
}
.btns-container {
    margin-top: 1.2em;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 1.5em;
    display: none;
}
.profiles {
    margin-top: -170%;
    z-index: 10;
    position: relative;
    justify-content: center;
}
.btns-container button {
    border-radius: 50%;
    padding: 1.2em;
    background-color: white;
    border: none;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.116);
}
.btns-container img {
    width: 30px;
}
.like-btn:hover,.like-btn:active {
    background-color: #DBFFF4;
}
.pass-btn:hover,.pass-btn:active {
    background-color: #FFE7EF;
}
.dot {
    width: 10px;
    height: 10px;
    border: none;
    background-color: rgb(173, 173, 173);
    margin-left: .4em;
    border-radius: 50%;
    z-index: 1;
}
.dots-container {
    z-index: 1;
    position: absolute;
    left:50%;
    transform: translate(-50%,0%);
}
.white {
    background-color: white;
    width: 15px;
    height: 15px;
}
.badge-span{
    z-index: 1;
    position: absolute;
    left: 5%;
    top:4%;
    transform: rotate(-20deg);
}
.badge-span img {
    width: 60%;
    height: 100%;
    background-size: cover ;
    background-position: center;
}
.message-container {
    background-color:white;
    padding: 1.3em;
    width: 90vw;
    max-width: 600px;
    border-radius: 10%/20%;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.116);
    position: absolute;
    left: 50%;
    margin: 0;
    text-align: center;
    transform: translate(-50%,100%);  
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80vw;
    height: 5px;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0%;
    bottom: 0;
    background-color: rgba(109, 109, 109, 0.048);
    pointer-events: none;
    transform: translate(-40%,100%);
    max-width: 500px;
    border-radius: 1em;
    margin-bottom: 2em
}
.range-container{
    margin: 0 auto;
    position: relative;
    margin-bottom: 30px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.521);
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
    border:none;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.521);
    pointer-events: auto;
    border: none;
    position:relative;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.521);
    pointer-events: auto;
    border: none;
}
.user-location {
    display: flex;
    align-items: center;
    margin-top: 1em;
}
.settings-icon {
    width: 40px;
    height: 40px;
}
#location-icon {
    width: 20px;
    height: 20px;
    margin-left: 4px;
}
.settings-nav {
    order: -1;
    margin-top: 1em;
    width: 20%;
    display: none;
}
fieldset {
    position: relative;
    border: none;
}
legend {
    font-size: 1.1rem;
    margin-bottom: 1.7em;
    margin-top: -1.5em;
    position: relative;
    left:-31vw;
}
.minmax-distance {
    position: relative;
    top:-7vh;
    left:31vw;
    color:rgba(0, 0, 0, 0.63)
}
.save-settings-btn {
    border: 0;
    padding: 1em ;
    width: 100%;
    border-radius: 1.3em;
    background: linear-gradient(-90deg,#FF655B,#ff4756,#fe3c72, #FD297B);
    color:white;
    font-size: 0.9rem;
    margin-top: 1.2em;
    margin-bottom: .5em;
    text-align: center;
}
.user-location {
    font-weight: 300;
    margin-top: 10px; 
}
.heart {
    width: 40px;
    fill:#ff4756;
    margin-bottom: 1em;
    animation: pump 2s infinite;
}
@keyframes pump {
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes fade-right {
    100% {
        transform: translate(200px) rotate(15deg);
        opacity: 0;
    }
}
@keyframes fade-left {
    100% {
        transform: translate(-200px) rotate(-15deg);
        opacity: 0; 
    }
}
@keyframes fade{
    100% {

        transform: translate(0px) rotate(0deg);
        opacity: 1;
    }
}
@media (min-width: 500px) {
body {
        font-size: 1.2rem;
    }
.message-container {
   top:30%;
}
}
@media (max-width: 500px) {
    .profiles {
        width: 90vw;
    }
 }
.open {
    display:inline
}
.close {
    display:none
}
.active-fade-right {
    z-index: 5;
    animation: fade-right .7s ease-in;
}
.active-fade-left {
    z-index: 5;
    animation: fade-left .7s ease-in;
}