* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(248, 248, 248);
}
.main {
    overflow-y: hidden;
}
header {
    padding: 1em;
}

li img {
    width: 30px;
}
.logo-img {
    width: 80px;
}
.flex {
    display: flex;
}
ul {
    justify-content: space-between;
    align-items: center;
}
.profiles-section {
    margin-top: 0.3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.profiles img {
    width: 97vw;
    border-radius: 3%;
    height: 600px;
    max-width: 500px;
    
}
.user-information-container {
    position: absolute;
    bottom:2.5em;
    left:6%;
    z-index: 1;
    color: white;
    width: 90%;
    max-width: 400px;
    height: 20%;
    
}
.user-information-container,#user-location {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.897);
}

.user-information-container h1{
    font-size: 1.5rem;
}
.user-information-container p {
    margin-top: 8px;
    font-weight: 200;
    margin-bottom: 10px;
}
.btns-container {
    margin-top: 1.2em;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 1.5em;
}
.profiles {
    position: relative;
    justify-content: center;
}
.btns-container button {
    border-radius: 50%;
    padding: 1.2em;
    background-color: white;
    border: none;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.116);
}
.btns-container img {
    width: 30px;
}
.like-btn:hover,.like-btn:active {
    background-color: #DBFFF4;
}
.pass-btn:hover,.pass-btn:active {
    background-color: #FFE7EF;
}
.dot {
    width: 10px;
    height: 10px;
    border: none;
    background-color: rgb(173, 173, 173);
    margin-left: .4em;
    border-radius: 50%;
    z-index: 1;
}
.dots-container {
    z-index: 1;
    position: absolute;
}

.white {
    background-color: white;
    width: 15px;
    height: 15px;
}
.badge-span{
    z-index: 1;
    position: absolute;
    left: 5%;
    top:4%;
    transform: rotate(-20deg);
}
.badge-span img {
    width: 60%;
    height: 100%;
    background-size: cover ;
    background-position: center;
}
.end-message-container {
    background-color:white;
    padding: 1.3em;
    height: 200px;
    width: 90%;
    border-radius: 10%/20%;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.116);
    position: relative;
    left: 45%;
    top: 50%;
    margin: 0;
    text-align: center;
    transform: translate(-50%,50%);
    
}
.user-location {
    display: flex;
    align-items: center;
    margin-top: 1em;
}
.settings-icon {
    width: 40px;
    height: 40px;
}
#location-icon {
    width: 20px;
    height: 20px;
}
.user-location {
    font-weight: 300;
    margin-top: .5em;
    
}
.heart {
    width: 40px;
    fill:#ff4756;
    margin-bottom: 1em;
    animation: pump 2s infinite;
}
@keyframes pump {
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}