
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  
  
}
header {
  width: 100%;
}
.header {
  padding: 1em;
  height: 120px;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.021);
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid rgba(44, 44, 44, 0.034);
  margin-bottom: 1em;
}
.ul-header {
  justify-content: space-between;

}

ul {
  list-style: none;
}
.logo-img {
  width: 130px;
}
.main-user-avatar-img,.ul-post img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.main-user-avatar-img {
  margin-top: 1em;
}
.main-user-comment-img {
  width: 32px;
  height: 30px;
  border-radius: 50%;
}
textarea {
  height: 25px;
  width: 300px;
  resize: none;
  padding: 0.2em 1em;
  border: none;
  outline: none;
  margin-top: 3px;
  margin-right: 0.3em;

}
.submit-comment {
  color:rgb(3, 108, 168);
  font-weight: bold;
  background-color: transparent;
  border: none;
}

.comment-section div{
  gap:2px;
  width: 100%;
}
.comments-list {
  padding-left: 0.2em;
  margin-bottom: 1.2em;
}
.comments-list li {
  margin-bottom: 0.6em;
}
.flex  {
  display:flex;
}
.ul-post {
  display: grid;
  grid-template-columns: repeat(2,65px);
}
.header-post {
  padding: 0.5em 0.65em;
}
.user-comment-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.ul-post li {
  width: 75vw;
 
}
.comments-list li {
  display: grid;
  grid-template-columns: repeat(2,2.5em);
 
}
.comments-list p {
  width: 400px;
  word-wrap: break-word
}
.main-comment {
  width: 85%;
}
.span {
  grid-row: span 2 ;
}
.ul-post h1 {
  font-size: 1.25rem;
}
.ul-post h2 {
  font-size: 0.9rem;
  color:grey
}
.post-img {
  width:100%;
}
footer {
  padding: 0em 1em;
}
.btns-container li{
  margin-right: 1em;
}
.btns-container img {
  width: 25px;
}
.likesNumberSpan,.comment-main-username {
  font-weight: bolder;
}
.likesNumberSpan span {
  margin-left: 4px;
}
button {
  background-color: transparent;
  border: none;
}
footer section {
  margin-top: 0.6em;
}
.comment-main-username {
  margin-right: 4px;
}
article {
  margin-bottom: 1em;
}
main {
  overflow-x: hidden;
 width: 100%;
 background-color: aqua;

 display: flex;
 justify-content: center;
 margin: 0 auto;
  
}

li:active,li:visited:li:link {
  text-decoration: inherit;
}
@media (min-width:510px) {
  .post-img {
    min-width: 250px;
    max-width: 500px;
    max-height: 500px;
    
  }
  main {
    width: 100%;
  }
  .header-post {
    margin-bottom: 0.5em;
    margin-left: -10px;
  }
  article {
    margin-bottom: 1.5em;
  }
  .main-section {
    width:50%;
    padding: 0;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  .textarea {
    width:85%;
  }
  .main-section article:nth-child(3) {
    width: 500px;
    margin-left:-9px;
    
  }
  .main-section article:nth-child(3) .user-comments-container {
    margin-left: 0px;
   
  }
  .logo-img {
    width: 40%;
  }
  .btns-container li {
    margin-right: 1.3em;
  }
  
}